<footer>
  <div class="container">
    <div class="col-sm-4">
      <h4>Our products</h4>
      <ul class="no-padding footer-list">
        <li><a href="#" title="glasses">Glasses</a></li>
        <li><a href="#" title="Apparel">Apparel</a></li>
        <li><a href="#" title="Jeans">Jeans</a></li>
        <li><a href="#" title="t-shirts">t-shirts</a></li>
        <li><a href="#" title="shoes">shoes</a></li>
      </ul>
    </div>
    <div class="col-sm-4">
      <h4>Our sections</h4>
      <ul class="no-padding footer-list">
        <li><a href="#" title="Contact us">Contact us</a></li>
        <li><a href="#" title="Web support">Web support</a></li>
        <li><a href="#" title="Online shop">Online shop</a></li>
        <li><a href="#" title="Corporate site">Corporate site</a></li>
        <li><a href="#" title="Jobs">Jobs</a></li>
      </ul>
    </div>
    <div class="col-sm-4">
      <h4>Contact info</h4>
      <ul class="no-padding footer-list">
        <li><a href="telf:000000000" title="Telf: 000 000 000">Telf: 000 000 000</a></li>
      </ul>
      <address>
      Visit us at:<br>
      Example.com<br>
      Box 564, Disneyland<br>
      USA
      </address>
    </div>
  </div>
</footer>