<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-xs-6">
        <a href="/glasses-for-the-masses" id="app-logo" class="pull-left" title="Go to Home page"><img src="assets/img/logo.png" alt="Glasses for the masses logo" width="91" height="60"></a>
      </div>
      <div class="col-xs-6 visible-xs">
        <div class="pull-right">
          mobile-menu
        </div>
      </div>
      <div class="col-sm-6 hidden-xs">
        <div id="main-menu" class="text-center">
          <div class="btn-group">
            <a href="#" class="btn" title="View all our sunglasses"><img src="assets/img/sunglasses_icon.png" alt="sunglasses image"><span>sunglasses</span></a>
            <a href="#" class="btn" title="View all our transparent glasses"><img src="assets/img/transparent_glasses_icon.png" alt="transparent glasses image"><span>transparent</span></a>
            <a href="#" class="btn" title="View all our fashion glasses"><img src="assets/img/fashion_glasses_icon.png" alt="fashion glasses image"><span>fashion</span></a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 hidden-xs">
        <ul class="pull-right utility-menu">
          <li><img src="assets/img/search.png" alt="search" width="22" height="22"></li>
          <cart-icon></cart-icon>
        </ul>
      </div>
    </div>
  </div>
</header>